html {
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: #d3d7e0;
    transition-duration: 0.2s;
}

a:hover {
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #dfe3e9;
    text-shadow: 0 0 0.8em;
    margin: 0;
    text-align: center;
}

button {
    padding: 15px 32px;
    border-radius: 0.5em;
    background-color: rgb(37, 126, 156);
    color: bisque;
    text-decoration: none;
    border: none;
    text-align: center;
    transition-duration: 0.4s;
    border: 2px solid rgb(37, 126, 156);
    cursor: pointer;
}

button:hover {
    background-color: bisque;
    color: rgb(37, 126, 156);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-5px);
}

h2 {
    color: beige;
    text-align: center;
    margin: 1em 0 1.5em 0;
    font-size: 36px;
}

h3 {
    color: whitesmoke;
    margin: 0;
    padding: 0;
}
p {
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 80px;
    background-color: #1f2937;
}

.hero {
    display: flex;
    background-image: url("img/celeste-wallpaper.jpeg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 120px;
    justify-content: center;
    align-items: center;
}

.hero-container {
    background-color: #00000085;
    padding: 50px;
    border-radius: 1em;
    display: flex;
    box-shadow: 2px 2px 6px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-image {
    height: 320px;
    max-width: auto;
}

.hero-cta {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}

.hero-subtext {
    font-size: 18px;
    color: #e2e4e7;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(to bottom, #686eca, #444f8a);
}

.card-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-img {
    width: 14em;
    height: 16em;
    margin: 0;
    object-fit: cover;
    border-radius: 1em;
    border: 6px solid #5d80b9;
    box-shadow: 0 6px 16px black;
    transition-duration: 0.4s;
}

.card-img:hover {
    box-shadow: 0 0 30px 4px #6f00ff;
    transform: scale(1.06);
}

.memes {
    object-fit: fill;
}

.card-text {
    color: #e2e4e7;
    margin: 1em 0 2em 0;
    font-size: 18px;
    font-weight: 600;
}

.quote {
    background-image: url("img/celeste-wallpaper2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 2.5em;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

.quote-author {
    font-size: 1.7em;
    color: #ffffff;
    align-self: flex-end;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.cta-container {
    display: flex;
    background-color: rgb(37, 126, 156);
    padding: 1.5em 2em;
    border-radius: 0.3em;
    justify-content: center;
    align-items: center;
}
.cta-text {
    margin-right: 7em;
}
.cta-button {
    border: 2px solid whitesmoke;
}